@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Mukta:wght@300;500&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Mukta, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: rgb(56, 89, 122);
}

/* headings and logo */

.header {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(213, 199, 198,0.7),rgba(178, 156, 152,0.7)), url("/assets/images/project.image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h1 {
    font-family: Mukta, sans-serif;
    color: rgb(255, 190, 11);
    text-shadow: 1px 1px rgb(76, 59, 31);
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

#menu {
    font-size: 125%;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: rgb(255, 190, 11);
    text-shadow: 1px 1px rgb(76, 59, 31);
    font-size: 100%;
}

#menu a:hover {
    border-bottom: 2px solid rgb(65, 234, 212);
}

/* text first page */

#text-cover {
    text-align: center;
    padding-top: 350px;
    padding-bottom: 350px;
}

#text-cover, h2 {
    font-size: 210%;
    color: rgb(255, 0, 110);
    text-shadow: 2px 2px rgb(31, 23, 18);
}

#text-cover, h3 {
    color: #DDFF20;
    text-shadow: 2px 2px rgb(31, 23, 18);
    font-weight: 200;
}

/* groups */

.groups {
    width: 80%;
    padding-top: 50px;
    text-align: center;
    margin: auto;
}

.groups h1 {
    font-weight: 500;
    font-size: 230%;
}

.groups p {
    font-size: 120%;
    color: rgb(135, 79, 141);
    font-weight: 400;
}

.columns {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.groups-col {
    flex-basis: 31%;
    background: rgba(255, 190, 11,0.7);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 22px 15px;
    box-sizing: border-box;
}

.groups-col h3 {
    color: rgb(90, 24, 154);
    font-weight: 400;
    font-size: 115%;
    text-shadow: none;
}

.groups-skill {
    color: #874f8d;
}

/* classes table */

.class-time {
    width: 80%;
    padding-top: 50px;
    text-align: center;
    margin: auto;
}

.class-time h1 {
    font-weight: 500;
    font-size: 230%;
    margin-bottom: 2%;
}

#time {
    border-collapse: collapse;
    width: 100%;
    padding-top: 50%;
    color: rgb(135, 79, 141);
    margin-bottom: 5%;
}

#time td, #time th {
    border: 1px solid rgb(255, 190, 11);
    padding: 12px 8px;
    margin-top: 2%;
    margin-bottom: 2%;
}

#time #class-group:hover{background-color: rgba(182, 119, 148,0.7);}

#time th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color:rgb(135, 79, 141);
    background-color: rgba(255, 190, 11,0.7);
}