@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Mukta:wght@300;500&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Mukta, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  color: #38597a;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home .header {
    background-image: linear-gradient(#d5c7c6b3,#b29c98b3), url(assets/images/project.image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .contact, .signup {
    background-image: linear-gradient(#d5c7c6b3,#b29c98b3), url(/assets/images/project.image.jpg);
    background-size: cover;
}

.menu a.active {
    border-bottom: 2px solid #ff006e;
  }

/* headings and logo */

.header {
    width: 100%;
}

h1 {
    font-family: Mukta, sans-serif;
    color: rgb(255, 190, 11);
    text-shadow: 1px 1px rgb(76, 59, 31);
}

.logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

.menu {
    font-size: 125%;
}

.menu, .logo {
    line-height: 75px;
}

.menu li {
    float: right;
    list-style: none;
    margin-right: 50px;
}

.menu a {
    text-decoration: none;
    color: rgb(255, 190, 11);
    text-shadow: 1px 1px rgb(76, 59, 31);
    font-size: 100%;
}

.menu a:hover {
    border-bottom: 2px solid rgb(255, 0, 110);
}

/* text first page */

.text-cover {
    text-align: center;
    padding-top: 350px;
    padding-bottom: 350px;
}

.text-cover, h2 {
    font-size: 210%;
    color: rgb(255, 0, 110);
    text-shadow: 2px 2px rgb(31, 23, 18);
}

.text-cover, h3 {
    color: #DDFF20;
    text-shadow: 2px 2px rgb(31, 23, 18);
    font-weight: 200;
}

/* groups */

.groups {
    width: 80%;
    padding-top: 50px;
    text-align: center;
    margin: auto;
}

.groups h1 {
    font-weight: 500;
    font-size: 230%;
    margin-top: 2%;
}

.groups p {
    font-size: 120%;
    color: rgb(135, 79, 141);
    font-weight: 400;
}

.columns {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.groups-col {
    flex-basis: 31%;
    background: rgba(255, 190, 11,0.7);
    border-radius: 10px;
    margin-bottom: 2%;
    padding: 22px 15px;
    box-sizing: border-box;
}

.groups-col h3 {
    color: rgb(90, 24, 154);
    font-weight: 400;
    font-size: 115%;
    text-shadow: none;
}

.groups-skill {
    color: #874f8d;
    text-align: center;
    list-style: none;

}

/* classes table */

.class-time {
    width: 80%;
    padding-top: 50px;
    text-align: center;
    margin: auto;
}

.class-time h1 {
    font-weight: 500;
    font-size: 230%;
}

.time {
    border-collapse: collapse;
    width: 100%;
    padding-top: 50%;
    color: rgb(135, 79, 141);
    margin-bottom: 2%;
}

.time td, .time th {
    border: 1px solid rgb(255, 190, 11);
    padding: 12px 8px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.time .class-group:hover{background-color: rgba(182, 119, 148,0.7);}

.time th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color:rgb(135, 79, 141);
    background-color: rgba(255, 190, 11,0.7);
}

/* sign up */

.sign-up {
    width: 80%;
    text-align: center;
    margin: auto;
}

.sign-up h2 {
    font-weight: 500;
    font-size: 230%;
}

.sign-up-img {
    position: relative;
}

/* form */

.form {
    flex: 1;
    justify-content: center;
}

.spform {
    margin: 100px 10% 0 0;
    color: #814B87;
    max-width: 400px;

}

.spform h2 {
    color: rgb(255, 190, 11);
    margin-bottom: 20px;
    text-align: center;
}

.input-text {
    background-color: rgba(213, 199, 198,0.7);
    color: rgb(31, 23, 18);
    width: 100%;
    height: 25%;
    margin: 5px 0 20px 0;
    border: 1px solid #874f8d;
    border-radius: 2px;
    outline: none;
}

.input-text:focus {
    background-color: rgba(182, 119, 148,0.7);
}

.radio-button {
    margin-right: 20px;
}

input {
    accent-color: rgba(182, 119, 148,0.7);
}

.s-button {
    margin-top: 10px;
    border-radius: 2px;
    padding: 10px 24px;
    border-radius: 8px;
    text-align: center;
    font-size: 100%;
    background-color: transparent;
    color: #814B87;
    display: block;
    border: 1px solid #874f8d;
}

.s-button:hover {
    background-color: rgb(255, 190, 11);
    color: #814B87
}

/* contact us */

.touch {
    display: flex;
    width: 100vw;
    justify-content: center;
    flex: 1
}

.touch h2 {
    color: rgb(255, 190, 11);
    margin-bottom: 20px;
    text-align: center;
}

.touch h3 {
    color: #814B87;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: none;
    font-weight: 300;
}

.touch-form {
    width: 100%;
    height: 80%;
    color: #814B87;
    max-width: 400px;
  
}

.touch-text {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #814B87;
    border-radius: 4px;
    background-color: transparent;
    font-size: 16px;
    resize: none;
}

.touch-text:focus {
    background-color: rgba(182, 119, 148,0.7)
}

textarea {
    accent-color: rgba(182, 119, 148,0.7);

}

.t-button {
    margin-top: 10px;
    border-radius: 2px;
    padding: 10px 24px;
    border-radius: 8px;
    text-align: center;
    font-size: 100%;
    background-color: transparent;
    color: #814B87;
    display: block;
    border: 1px solid #874f8d;
}

.t-button:hover {
    background-color: rgb(255, 190, 11);
    color: #814B87
}

/* footer*/

footer {
    background-image: linear-gradient(rgba(255, 255, 255,0.7),rgba(255, 190, 11,0.7));
    padding: 10px 0;
}

footer, h4 {
    text-align: center;
    color: rgb(135, 79, 141);
    font-size: 1rem;
    margin-top: 15px;
}

.social {
    text-align: center;
    color: rgb(135, 79, 141);
    padding: 5px;
    list-style: none;
}

.social > li {
    display: inline;
}

.social i {
    font-size: 1rem;
    margin: 1%;
    color: rgb(135, 79, 141);
}

@media(max-width: 700px) {
    .menu li {
        display: block;
        padding: 0;
}

.spform h2 {
    margin-bottom: 20px;
    text-align: center;
}

.spform {
    margin: 100px 10% 100px 10%;
    text-align: center;
}

.touch h2 {
    margin-bottom: 10px;
    text-align: center;
    margin-top: 20%;
}


}