@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Mukta:wght@300;500&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Mukta, Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(185, 182, 181,0.7),rgba(138, 157, 175,0.7)), url("/assets/images/project.image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
